* {
    font-family: Slack-Lato,appleLogo,sans-serif;
}

h1 {
    background-color: #ecc;
    border-radius: 8px;
    padding: 10px 10px;
}

h2 {
    background-color: #cce;
    border-radius: 5px;
    padding: 3px 10px;
}

a {
    color: #2a80b9;
    text-decoration: none;
}

.user-message {
    font-family: Slack-Lato,appleLogo,sans-serif;
    font-size: 15;
    line-height: 22px;
    -webkit-font-smoothing: antialiased;
}

.user-message + .user-message {
    margin-top: 20px;
}

.tag-user .text-hyperlink {
    color: #2a80b9;
    display: inline;
    font-family: Slack-Lato,appleLogo,sans-serif;
}

.user-system-notify {
    color: #999;
}

.user-name {
    display: inline;
    font-weight: 700;
    font-style: normal;
    font-size: 15;
    font-family: Slack-Lato,appleLogo,sans-serif;
}

.time-stamp {
    display: inline;
    font-family: "Helvetica Neue",Helvetica,"Segoe UI",Tahoma,Arial,sans-serif;
    font-size: 0.5pc;
    color: #888;
}

.user-image {
    display: inline;
    width: 36px;
    height: 36px;
    border-radius: .2rem;
    float: left;
    margin-right: 5px;
}
